/* div{
    background-color: rgb(107, 216, 77);
   background-color:#1b2795 ;
   width: 300px;
   height: 300px;
   margin: 30px 40px 60px 100px;
  margin: 100px;
 margin: 40px 100px;
 padding: 50px 40px 30px 20px;
 border: 5px solid black;
 border-radius: 10px; 

}
span{
      background-color: rgb(107, 216, 77);
   background-color:#18bd52 ;
   width: 300px;
   height: 300px;
   margin: 30px 40px 60px 100px;
  margin: 100px;
 margin: 40px 100px;
 padding: 50px 40px 30px 20px;
 border: 5px solid black;
 border-radius: 10px; 
 display:inline-block;

}  */
  /* static position */
  div{
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 10px;
  }
  /* #static .middle{
    position: static;
    top: 50px;
    left: 50px;
  }
  #relative .middle{
    position: relative;
    top: 100px;
     left: 50px; 
  } */
   /* absolute
   #absolute .middle{
    position: absolute;
    top: 300px;
   } */
   #fixed .middle{
    position: fixed;
    top: 20px;
    
   }
   