div{
    max-width: 80%;
    max-height: 70%;
    margin: 20px auto;
    border: 2px solid black;
    padding: 10px;
    background-color: antiquewhite;
}

h1{
    text-align: center;
    font-size: 50px;
    color: aqua;
}
p{
    font-size: 25px;
}
/* media querry */
/* @media screen and (max-width:1200px) {
    h1{
        color: orange;
        font-size: 50px;
        background-color: rgb(66, 72, 53);
    }
}
@media screen and (max-width:768px) {
    h1{
        color: rgb(86, 235, 49);
        font-size: 35px;
        background-color: rgb(241, 78, 165);
    }
}
@media screen and (max-width:576px) {
    h1{
        color: rgb(229, 31, 31);
        font-size: 25px;
        background-color: rgb(104, 142, 156);
    }
}
p{
    font-size: 15px;
    color: beige;
} */
 /* min-width */
 @media screen and (min-width:576px) {
    h1{
        color: orange;
        font-size: 50px;
        background-color: rgb(66, 72, 53);
    }
}
@media screen and (min-width:768px) {
    h1{
        color: rgb(86, 235, 49);
        font-size: 35px;
        background-color: rgb(241, 78, 165);
    }
}
@media screen and (min-width:1200px) {
    h1{
        color: rgb(229, 31, 31);
        font-size: 25px;
        background-color: rgb(104, 142, 156);
    }
}
p{
    font-size: 15px;
    color: beige;
}