#parent{
    width: 70vw;
    border: 2px solid black;
    height: 900px;
    background-color: antiquewhite;
    margin: 30px auto;
    display: flex;
    /* flex direction : column */
    flex-direction: reverse;
    /* justify-content: right; */
    justify-content: center;
    /* justify content: space-evenly; */
    justify-content: space-between;

}
/* div{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    font-size: 20px;
} */
 /* navbar style */

 header{
    width: 100%;
    background-color: rgba(199, 187, 214, 0.9);
    border: 2px solid black;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 08);
 }
 nav{
    max-width: 1200px;
    margin: auto;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

nav img{
    height: 80px;
    cursor: pointer;
}
.search{

    display: flex;
    align-items: center;
    background: #f1f3f6;
    padding: 6px 14px;
    border-radius:30px;
    width: 320px;
    height: 40px;
    gap: 30px;

}
.search input{
    border: none;
    background: transparent;
    outline: none;
    width: 80%;
    font-size: 14px;
}
.search img{
    width: 20px;
    height: 20px;
    opacity: 0.7;
}
/* menu */
.menu ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.menu a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 20px;
}
button{
    background: #2874f0;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 20px;
}